/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
:root {
  --text-main-color: #00D3FF;
  --second-color: #DFFF6B;
}
ul, ol, li {
  list-style-type: none;}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}
a:focus {
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

}

.Page-limiter{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.Page-content{
  width: 100%;
  transition: background-color 2s ease-in-out;
  
}
.Header{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.Header-h1{
  opacity: 0;
  transition: opacity .5s ease-in-out;
  width: 10%;
}
.Header-right{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 50%;
}
.Menu{
  color: black;
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
  font-family: "Poppins", serif;
  font-style: italic;


}
.Menu-letrasLimiter{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  gap: 1px;
  height: 50px;
  overflow: hidden;
  
}
.Menu-letrasWrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  height: 200%;
  transform: translateY(-48px);
}
.Menu-letras{
  height: 50%;
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
}
.Menu-icon{
 height: 100%; 
 position: relative;
 top: -10px;

}
.Menu-icon-img{
  transform: rotate(180deg);
  transition: transform .6s ease-in-out;
  width: 40px;
  height: 40px;
  
}
.MouseIsOver{
  transform: translateY(0) rotate(0);
  
}
.ClickedRotate {
  transform: rotate(45deg);
}
.Menu-letrasWrapper:nth-child(1){
  transition: transform .3s ease-in-out;
}
.Menu-letrasWrapper:nth-child(2){
  transition: transform .4s ease-in-out;
}
.Menu-letrasWrapper:nth-child(3){
  transition: transform .5s ease-in-out;
}
.Menu-letrasWrapper:nth-child(4){
  transition: transform .6s ease-in-out;
}
.Menu-letrasWrapper:nth-child(5){
  transition: transform .7s ease-in-out;
}
.Nav{
 width: 100%;
 height: 100vh;
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: start;
 background-color: rgb(255, 255, 255);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 4;
 padding-left: 15%;
 opacity: 0;
 transition: opacity .5s ease-out;

 
}
.Nav-li{
  background-color: red;
  overflow: hidden;
  height: 9vw;
  display: flex;
  flex-flow: row nowrap;
}

.Nav-a{
  font-size: 10vw;
  font-family: "Poppins", serif;
  font-style: italic;
  line-height: 9vw;
  transform: translateY(9vw) scaleX(0.75);
  transition: transform .5s ease-in-out;
  letter-spacing: -0.625rem;
  font-weight: 600;
}

.Nav-a--first{
  
}
.Nav-a--second{
  transition-delay: 150ms;

}
.Nav-a--third{
  transition-delay: 300ms;

}


.NavAIsVisible{
  transform: translateY(0) scaleX(0.75);
}
.NavIsVisible{
  opacity: 1;
  transform: translateY(0);
  
}
.Main{
  width: 100%;
  position: relative;
}
.Hero{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  position: relative;

}
.Hero-title-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Evita desbordamientos */
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s ease-in-out;
}
.Hero-title{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20vw;
  font-family: "Poppins", serif;
  color: var(--text-main-color);
  font-style: italic;
  font-weight: 800;
 
  
}
.Hero-span{
display: none;
}
.Hero-title-line{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  height: 50vh;
  gap: 0;
}
.Hero-title-line--top{
  justify-content: start;
}
.Hero-title-line--bottom{
  justify-content: end;
}
.Hero-videoWrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: top .5s ease-in-out;
  
}
.Hero-video{
  width: 30vw;
  height: 20vw;
  background-color: blueviolet;
  position: relative;
  z-index: 2;
  transition: all .5s ease-in-out;
  transform: rotate(-5deg);
}
.Hero-tittle-char{
  position: relative;
  height: 50vh;
  transform: scaleX(0.75);
  letter-spacing: 0;
  width: min-content;
  width: 11vw;

  
}
.Hero-tittle-char--o{
  z-index: 3;
  position: relative;
}
.Work{
width: 100vw;
height: 100vh;
position: absolute;
z-index: 3;
display: flex;
bottom: -100vh;
overflow: hidden;
transition: all .5s ease-in-out;
}
.Gallery{
width: 400vw;
height: 100%;
display: flex;
flex-flow: row nowrap;
justify-content: start;
align-items: center;
transition: all 2s ease;
}
.Gallery-item{
width: 100vw;
min-height: 100%;
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
}
.WorkIntro{
width: 50%;
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-auto-rows: auto;
transition: all 1s ease-in-out;

}

.WorkIntro-h3{
font-size: 34px;
grid-column: 1 / 4;
display: flex;
flex-flow: row;
justify-content: center;
align-items: center;
}
.WorkIntro-span{
font-size: 10vw;
display: flex;
flex-flow: row;
line-height: 10vw;
font-family: "Poppins", serif;
font-style: italic;
font-weight: 600;
text-transform: uppercase;
transform: scaleX(0.75);
letter-spacing: -0.625rem;

}
.WorkIntro-span--top{
grid-column: 1 / 4;

justify-content: center;
align-items: end;
} 
.WorkIntro-span--bottom{
justify-content: center;
align-items: start;
}

.WorkIntro-imgWrapper--left{
grid-column: 1 / 2;
transition: transform 1s ease-in-out;


}
.WorkIntro-imgWrapper--right{

grid-column: 3 / 4;
transition: transform 1s ease-in-out;
}
.Project{
position: relative;
}
.Project-h4{
font-size: 10vw;
font-family: "Poppins", serif;
font-style: italic;
font-weight: 600;
text-transform: uppercase;
transform: scaleX(0.75);
letter-spacing: -0.625rem;
position: relative;
z-index: 2;
color: black;
transition: all 1s ease-in-out;
}
.Project-h4--effect{
position: absolute;
top: 0;
left: 0;
color: var(--text-main-color);
transition: all 1.01s ease-in-out;
z-index: 1;
}
.Project-h4--effectTwo{
position: absolute;
top: 0;
left: 0;
color: var(--second-color);
transition: all 1.02s ease-in-out;
z-index: 0;
}

.Projects-imgGallery{
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;

}
.Projects-imgWrapper{
position: absolute;
width: 1vw;
height: 1vw;
background-color: blue;
transition: transform .5s ease-in-out;
}
.Projects-imgWrapper--first{
top: calc(50% - 5vh);
left: calc(40%);
}
.Projects-imgWrapper--second{
top: 50%;
left: 50%;
}
.Projects-imgWrapper--third{
top: 55%;
left: 52%;
}
.Projects-imgWrapper--forth{
top: 40%;
left: 60%;
}
.Projects-imgWrapper--fifth{
top: 60%;
left: 65%;
}
.Projects-imgWrapper--six{
top: 40%;
left: 55%;
}
.Projects-imgWrapper--seven{
  top: 55%;
  right: 65%;
}
.Projects-imgWrapper--eight{
  top: 65%;
  right: 65%;
}
.Projects-imgWrapper--nine{
  top: 60%;
  right: 50%;
}
.Services{
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 100vh;
  left: 0;
  
  z-index: 7;
  transition: transform .5s ease-in-out;
}

.Services-wrapper{
  display: flex;
  width: 80%;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  margin: auto;
  gap: 2rem;
}
.Services-h3{
  font-size: 2.5rem;
  min-height: 100px;
}
.Services-div{
  position: relative;
}
.Service-p{
  text-transform: uppercase;
  font-size: 10vw;
  line-height: 10vw;
  text-align: center;
  opacity: 0.5;
  font-family: "Poppins", serif;
  font-style: italic;
font-weight: 600;
text-transform: uppercase;
transform: scaleX(0.75);
letter-spacing: -0.625rem;
transition: all .5s ease-in-out;
}
.ServicePIsActive{
  opacity: 1;
  transform: scaleX(0.75);
}
.Service-imgWrapper{
  position: absolute;
  width: 150px;
  min-height: 170px;
  transform: scale(0);
  opacity: 0;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}
.IsActive{
  transform: scale(1);
  opacity: 1;
}
.Service-imgWrapper--first{
  left: -50px;
  top: calc(50% - 100px);
}
.Service-imgWrapper--second{
  right: -90px;
  top: -40px;
}
.Service-imgWrapper--third{
  right: -70px;
  bottom: -30px;
}
.Contact{
  width: 100%;
  position: absolute;
  min-height: 100vh;
  background-color: aliceblue;
  top: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease-in-out;
}
.Contact-a{
  width: 70%;
  padding: 4rem;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
border-radius: 180px;
background-color: #DFFF6B;
box-shadow: 0 0 0 8px rgba(0, 0, 0, 1);
border: 8px solid black;
transition: all .5s ease-in-out;
}
.Contact-a:hover{
  box-shadow: 10px 10px 0 16px rgba(0, 0, 0, 1);
}
.Contact-span{
  
  font-size: 2.5rem;
} 
.Contact-h3{
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 600;
}